@charset "utf-8";
//
// Variables
// --------------------------------------------------


// font
//-----------------------------------------------------
$baseFontSize:          12px !default;
$baseLineHeight:        1 !default;
$baseFontFamily:        "Helvetica Neue", Microsoft Yahei, Helvetica, Tahoma, sans-serif !default;


// color
//-----------------------------------------------------
$backgroundColor:		#f1f1f2 !default;
$textColor:             #3E4346 !default;
$linkColor:             #000 !default;
$majorColor:            #000 !default;
$pink:                  #dc236b !default;
$blue:                  #25a9ff !default;
$yellow:                #ffb30f !default;
$red:                   #c30d23 !default;
$gold:                  #f1c500 !default;
$green:                 #73bb46 !default;
$gray:                  #dbdbdb !default;
$grayLight:             #9b9b9b !default;
$orange:                #e95513 !default;
$orangeLight:           #ff5d3b !default;
$black:                 #231815 !default;

